# Virtual Environment
venv/
env/
*.venv/

# Cache Python
__pycache__/
*.pyc

# Database lokal
*.db
*.sqlite3

# File log
*.log

# Folder .git (jika di-zip)
.git/

# Model ML (jika disimpan di storage eksternal)
models/
*.h5
*.pth
*.pkl

# Data besar
data/